@keyframes bottomSlide {
    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leftmotion {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }
}

@keyframes rightmotion {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes spinoff {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


#one {
    z-index: 10;
    transform: translate(130%, 230%);
}

#two {
    z-index: 10;
    transform: translate(-9rem, 1rem);
}

#three {
    z-index: 10;
    transform: translate(-10rem, 10rem);
}

#four {
    z-index: 10;
    transform: translate(90%, 150%);
}

#five {
    z-index: 10;
    transform: translate(-5rem, 3rem);
}

#six {
    z-index: 10;
    transform: translate(-9, 7rem);
}

#seven {
    z-index: 10;
    transform: translate(-15rem, 7rem);
}

.group {
    transform: translate(42.5px, 42.5px);
}

path {
    transform: translate(-42.50px, -42.50px);
}

.large {
    animation: large 2.5s infinite;
}

.large-2 {
    animation: large-2 2.5s infinite;
}


#two path {
    -webkit-transform: translate(-42.50px, -42.50px);
    -moz-transform: translate(-42.50px, -42.50px);
    transform: translate(-42.50px, -42.50px);
}

#two.large {
    animation: large 2.5s infinite .81s;
}

#two.large-2 {
    animation: large-2 2.5s infinite .81s;
}

#two.small {
    animation: small 2.5s infinite .81s;
}

.small {
    animation: small 2.5s infinite;
}

@keyframes large {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(360deg) scale(1.5);
    }
}

@keyframes large-2 {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(405deg) scale(1.1);
    }
}

@keyframes small {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(-360deg) scale(1.5);
    }
}