@keyframes bottomSlide {
    0% {
        transform: translatey(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeEntry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leftmotion {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }
}

@keyframes rightmotion {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@keyframes spinoff {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveStar {
    0% {
        bottom: 0%;
    }

    50% {
        right: 45%;
        bottom: 25%;
    }

    100% {
        right: 40%;
        bottom: 40%;
        display: none;
    }
}

@keyframes randomise {
    0% {
        margin-right: 0;
    }

    50% {
        margin-right: 12px;
    }

    100% {
        margin-right: 20px;
    }
}

.sparkle {
    animation: moveStar 5s linear infinite, randomise 10s ease-out infinite alternate;
}

.star1 {
    position: absolute;
    right: 50%;
    bottom: 0;
}

.star2 {
    position: absolute;
    right: 40%;
    bottom: 5%;
}

.star3 {
    position: absolute;
    left: 20%;
    bottom: 5%;
}

.star4 {
    position: absolute;
    right: 20%;
    bottom: 5%;
}

.star5 {
    position: absolute;
    left: 30%;
    bottom: 5%;
}