@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('./keyframes.css');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Web content wrapper */
.content {
    background-image: url("./images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

/* Header class begins */
header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2.75rem 6.5rem 3.3125rem 6.5rem;
}

.logo {
    background-image: url("./images/Logo.svg");
    width: 2.515rem;
    height: 2.5rem;
}

.timer {
    display: flex;
}

.calender {
    background-image: url("./images/calender.svg");
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.875rem;
}

.start-day {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding-bottom: 0.25rem;
    text-align: left;
}

.total-day {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

/* Header class ends */

/* Landing class begins */
main {
    overflow: hidden;
}

.landing {
    background-image: url("./images/topstars.svg");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-bottom: 1.5rem;
}

.landing-header {
    font-weight: 300;
    font: 4.375rem 'Poppins', sans-serif;
    line-height: 4rem;
    max-width: 54.5rem;
    letter-spacing: -0.015em;
    margin: 0 auto;
    padding-bottom: 1.4375rem;
    animation: bottomSlide 0.65s ease-in;
}

.landing-text {
    font-weight: 400;
    font-size: 1.8394875rem;
    line-height: 2.0625rem;
    letter-spacing: -0.06em;
    max-width: 32.25rem;
    margin: 0 auto;
    animation: bottomSlide 0.6s ease-in;
}

/* Landing class ends */

/* How to Play starts */
.How-to-play {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1.6875rem;
    max-width: 26.5625rem;
    margin: 0 auto;
    animation: bottomSlide 0.6s ease-in;
    animation: fadeEntry ease 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
    border-radius: 0.5rem;
    margin-bottom: 2.75rem;
}

.htp-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

ol,
li,
.How-to-play p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    list-style-position: inside;
    text-align: left;
}

.How-to-play p {
    padding-top: 0.5rem;
    padding-bottom: 1.625rem;
}

li span {
    font-weight: 800;
}

.jackpot {
    display: flex;
    justify-content: center;
    padding: 0.625rem;
    max-width: 23.1875rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.625rem;
}

.jackpot-text {
    text-align: left;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    letter-spacing: -0.02em;
    padding-left: 0.25rem;
}

/* How to play ends */

.btn-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4375rem 1rem;
    width: 14.0625rem;
    height: 3.5rem;
    background: #ECAB03;
    border-radius: 0.25rem;
    margin: 0 auto;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    justify-content: space-around;
    animation: bottomSlide 0.6s ease-in;
}

/* Footer section begins */
.landing-base {
    animation: bottomSlide 0.5s ease-in;
}

.right-arrow {
    Width: 0.5625rem;
    Height: 0.984375rem;
}

.coin-pot {
    width: 100%;
    left: 0;
    right: 0;
    max-width: 31rem;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.coins {
    width: 100%;
    max-width: 38rem;
    margin: -2.7rem auto;
    display: flex;
    justify-content: space-between;
}

.footer {
    overflow: hidden;
    margin-top: -40.8rem;
}

.light-ray {
    width: 100%;
    margin: 0 auto;
    margin-top: -50rem;
    position: relative;
    z-index: 0;
    animation: spinoff 20s infinite linear;
}

.leftcoin {
    left: 0;
    bottom: 10%;
    animation: leftmotion 3s linear infinite;
}

.rightcoin {
    right: 0;
    padding-top: 6rem;
    bottom: 10%;
    animation: rightmotion 3.2s linear infinite;
}

/* Footer section ends */

.mobile-break {
    display: none;
}

/* moblie class properties */
@media (max-width: 650px) {

    header,
    main {
        padding: 2.1875rem 1.1875rem 0 1.1875rem;
    }

    .text-break {
        display: none !important;
    }

    .mobile-break {
        display: block !important;
    }

    .landing-header {
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 2.5625rem;
    }

    .landing-text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3125rem;
    }

    .coins {
        margin: -2rem 0;
    }

    .leftcoin {
        margin-left: -5rem;
    }

    .rightcoin {
        margin-right: -5rem;
    }

    .light-ray {
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: -15rem;
        z-index: 0;
        animation: spinoff 20s infinite linear;
    }

    .landing-base {
        height: 20rem;
    }

    .footer {
        overflow: hidden;
        margin-top: -10rem;
    }
}